<div class="row">
    <h1>Settings</h1>

    <form>
        <label for="newColor">Color Block:</label>
        <input type="text" id="newColor" name="newColor" ng-model="newBlockColor" />
        <button ng-click="addColor()">Add Block</button>
    </form>


    <div class="col-md-6">
        <h3>Current Colors:</h3>
        <li class="color-button" ng-repeat="color in colors" ng-style="{background: color}"></li>
    </div>
    <!--
    <div class="color-button" ng-repeat="color in colors" ng-style="{background: color}" ng-click="handleInput(color)"></div> -->

</div>
